*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
}

nav{

    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(97, 217, 97);
    padding: 20px;
    margin-bottom: 20px;
}

nav > a{
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    color: black

}

nav > a:hover{ text-decoration: underline;}

#user{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.list{
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list > p{
    text-align: left;
    margin: 5px;
}


.list > button{padding: 5px; border-radius: 5px; font-weight: bold;}
.list > button:hover{background-color: rgb(234, 81, 81); color: white; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}